:root{
  --scale_of_canvas: 3
}

body{
  margin:0;
}

@font-face {
  font-family: 'Keons';
  src: url('/Font/Keons.240827-1105.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Keons', sans-serif;
}

.player_panel {
  width: 1000px;
  box-sizing: border-box;
  border: 1px solid red;
  display: flex;
  background-color: blue;
  padding: 10px;
  gap: 20px;
}

.balance_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: red;
  padding: 10px;
  flex:1;
  color: white;
}

.bet_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aquamarine;
  padding: 10px;
  flex:1;
}

.player_button {
  margin: 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  width: 200px;
  height: 70px;
  font-size: 35px;
}
.canvas_container{
  width:1000px;
  height:800px;
}
canvas {
  aspect-ratio: 1000 / 800;
}